*{
  margin:auto;
  padding:0;
}

.darkYellow {
    border:1px solid red;
    position:absolute;
  background-color: #cccc00;
  width:250px;
  height:250px;
  font-size:12px;
  text-indent:1px;
  -webkit-box-shadow: 1px 1px 10px #888888;
}

.lightYellow {
 width:250px;
 height:235px;
 background-color: #FFFF00;
 margin-top:1px;
}


textarea {
  margin-left:2px;
  margin-top:5px;
    background-color:transparent;
    border:none;
    overflow: hidden;
    outline:none;

}

.index {
    z-index: 55;
}

.close {
  border: thin solid black;
  width:7px;
  height:7px;
  padding:0;
  line-height:2pt;
  float:right;
    margin-top:3px;
    margin-right:2px;
    font-size:13px;
}

#c1, #c2, #c3 {
     float: left;
    width: 33%;
}